{{#each model as |searchresult|}}
  {{result-item result=searchresult}}
{{else}}
    <p>No results found - you must fill out at least 1 field for results to appear, or provide more appropriate terms.</p>
{{/each}}

{{outlet}}
